<html lang="en-AU">
<body>
<form method="get">
    <label for="query">Your specified value: </label>
    <input type="text" id="query" name="query" />
    <input type="submit" value="Multiply with 13" />
</form>

<span id="search-query" ></span>

<!-- The results of the search query -->

<script type="application/javascript">
    var searchParams = new URLSearchParams(document.location.search);
    if (searchParams.has("query"))
    {
        document.getElementById("search-query").innerHTML = "Multiplying your specified value with 13: " + eval( "13 * " + searchParams.get("query"));
    }
</script>
</body>
</html>